include block_html/_style.pug
include block_html/_include.pug


.section-main(style="background-image:url('img/banner.jpg')")
	.header-wrap
		.main-cont
			.header
				a(href="/" data-aos="fade-right" data-aos-delay="600" data-aos-duration="1000").logo
					img(src="img/main-logo.svg", alt="")

				.nav(data-aos="fade-left" data-aos-delay="900" data-aos-duration="1000")
					a(href="#capability" rel='m_PageScroll2id').nav__el Возможности
					a(href="#cost" rel='m_PageScroll2id').nav__el Стоимость
					a(href="#advant" rel='m_PageScroll2id').nav__el Преимущества
					a(href="#about" rel='m_PageScroll2id').nav__el О компании
					a(href="#order" rel='m_PageScroll2id').nav__el Заявка
				.lang
					a(href="/").lang__el.lang__el--active
						img(src="img/russia.svg", alt="")
					a(href="index-eng.html").lang__el
						img(src="img/united-kingdom.svg", alt="")
				.head-toggle.js-slide-block-toggle(data-menu="menu")
					+icon("menu","icon icon-open")
	.slide-block.slide-block--right.slide-block--menu(data-menu="menu")
		.slide-block-wrap
			+icon("close","icon icon-close js-slide-block-toggle" )
			.slide-nav
				-
					var items = [
						{name: "Возможности", id: "#capability"},
						{name: "Стоимость", id: "#cost"},
						{name: "Преимущества", id: "#advant"},
						{name: "О компании", id: "#about"},
						{name: "Заявка", id: "#order"},
					];
				each item in items
					a(href = item.id rel = 'm_PageScroll2id' ).slide-nav__el #{item.name}

	.slogan-wrap
		.main-cont
			.slogan
				.slogan__logo(data-aos="fade-in" data-aos-delay="1400" data-aos-duration="2000")
					img(src="img/logo-itsm.svg", alt="")
				.slogan__title(data-aos="fade-right" data-aos-delay="1800" data-aos-duration="1000") Автоматизируйте процессы, связанные с оказанием ИТ-услуг
				//.slogan__text Автоматизируйте процессы, связанные с оказанием ИТ-услуг
				a(href="/doc/app.zip" data-aos="fade-up" data-aos-delay="2200" data-aos-duration="500").slogan__get Скачать демонстрацию
				a(href="/doc/insruction-install.docx" data-aos="fade-up" data-aos-delay="2800" data-aos-duration="500").slogan__get-text Как установить

.section.section--clear#capability
	.shape-wrap
		.shape.shape-1
			img(src="img/shape-1.svg", alt="")
		.main-cont
			.section-title(data-aos="fade-in" data-aos-delay="300" data-aos-duration="2000") Возможности системы
			.descr-text.text(data-aos="fade-in" data-aos-delay="600" data-aos-duration="2000") Решение ITSM Box Creatio, разработанное компанией IT Expert, предназначено для автоматизации процессов, связанных с оказанием ИТ-услуг, анализа этих процессов, контроля качества услуг и удовлетворенности клиентов.
			.descr-wrap(data-aos="flip-up" data-aos-delay="900" data-aos-duration="2000")
				.descr-img
					img(src="img/laptop.png", alt="")
				.descr-tools
					.mark-list__el Управление инцидентами
					.mark-list__el Управление событиями
					.mark-list__el Управление знаниями
					.mark-list__el Управление изменениями
					.mark-list__el Управление уровнем сервиса
					.mark-list__el Управление новостями
					.mark-list__el Делегирование полномочий
					.mark-list__el Каталог услуг
					.mark-list__el Учет трудозатрат
					.mark-list__el Портал пользователей
					.mark-list__el Отчетность SSRS
			.advant
				.advant__el(data-aos="fade-up" data-aos-delay="300" data-aos-duration="2000")
					.advant__el-icon
						+icon("brain","icon")
					.advant__el-title Надежная система
					.advant__el-text Внедрение решения позволит улучшить скорость, гибкость и эффективность работы.
				.advant__el(data-aos="fade-up" data-aos-delay="900" data-aos-duration="2000")
					.advant__el-icon
						+icon("processor","icon")
					.advant__el-title Оптимизация затрат
					.advant__el-text Решение будет полезным компаниям, которые оказывают ИТ-услуги как внутренним, так и внешним пользователям.
				.advant__el(data-aos="fade-up" data-aos-delay="1500" data-aos-duration="2000")
					.advant__el-icon
						+icon("tech","icon")
					.advant__el-title Легкая миграция
					.advant__el-text Организуйте единую точку контакта с пользователями ИТ-услуг, регистрируйте обращения и устраняйте инциденты.
			.section-title(data-aos="fade-in" data-aos-delay="300" data-aos-duration="2000") Структура продукта
			.scheme(data-aos="fade-in" data-aos-delay="300" data-aos-duration="1500")
				img(src="img/scheme.png", alt="")
			//.btn-row-mid.btn-row-mid--clear(data-aos="fade-in" data-aos-delay="1500" data-aos-duration="2000")
				a(href="/doc/doc.zip").btn--md.btn--mark Смотреть документацию
.section.shape-wrap
	.shape.shape-2
		img(src="img/shape-1.svg", alt="")
	.shape.shape-3
		img(src="img/shape-1.svg", alt="")
	.main-cont
		.section-title.section-title--clear(data-aos="fade-in" data-aos-delay="300" data-aos-duration="2000") Преимущества платформы Creatio

		.platform
			.platform-logo(data-aos="fade-down" data-aos-delay="300" data-aos-duration="2000")
				img(src="img/logo-creation.svg", alt="")
				.platform-descr Готовые к использованию шаблоны и решения
				//.platform-logo__arrow
					img(src="img/twin-arrow.svg", alt="")

			//.platform-logo__sub.platform-logo__sub--sale(data-aos="fade-in" data-aos-delay="600" data-aos-duration="2000")
				img(src="img/logo-sales.svg", alt="")
			//.platform-logo__sub(data-aos="fade-in" data-aos-delay="900" data-aos-duration="2000")
				img(src="img/logo-marketing.svg", alt="")
			.platform-logo-wrap(data-aos="fade-in" data-aos-delay="700" data-aos-duration="2000")
				.platform-logo__add(data-aos="fade-in" data-aos-delay="1400" data-aos-duration="2000")
					img(src="img/logo-service.svg", alt="")
					span Вертикально интегрированные продукты
				.platform-logo__row
					.platform-logo__item(data-aos="fade-right" data-aos-delay="1400" data-aos-duration="1000")
						img(src="img/logo-itsm.svg", alt="")
					.platform-logo__item.platform-logo__item--sm(data-aos="fade-left" data-aos-delay="1400" data-aos-duration="1000")
						img(src="img/logo-cpi.svg", alt="")

		.platform-advant(data-aos="fade-in" data-aos-delay="1700" data-aos-duration="2000")
			.plaform-advant__item Микросервисная архитектура
			.plaform-advant__item Использование open-source технологий
			.plaform-advant__item Поддержка разных СУБД
			.plaform-advant__item Пользовательская настройка интеграций
			.plaform-advant__item Открытый api и возможности интеграции
			.plaform-advant__item Визуальный редактор интерфейсов

.shape-wrap
	.water-text ITSMBOX
	.shape.shape-4
		img(src="img/shape-2.svg", alt="")
	.section.section--dark
		.main-cont
			.solution
				.solution__title(data-aos="fade-right" data-aos-delay="600" data-aos-duration="2000")
					.solution__title-el Основные преимущества Terrasoft Creatio
					.solution__title-el-sub Low-Code BPM платформа позволяет продвинутым пользователем автоматизировать любые процессы
				.solution__info(data-aos="fade-left" data-aos-delay="1200" data-aos-duration="2000")
					.solution__el Кастомизация мобильного приложения
					.solution__el Бесшовная установка обновлений
					.solution__el Механизм пакетов
					.solution__el Реализация подходов ci/cd
					.solution__el Безопасность на всех уровнях
					.solution__el Работа в облаке и он-сайт
					.solution__el Горизонтальное масштабирование и отказоустойчивость системы
					.solution__el Расширенные инструменты для работы с данными и аналитикой

.section.shape-wrap
	.shape.shape-5
		img(src="img/circle.svg", alt="")
	.shape.shape-6
		img(src="img/shape-3.svg", alt="")
	.main-cont
		.section-title(data-aos="fade-in" data-aos-delay="300" data-aos-duration="2000") Особенности Terrasoft Creatio
		.special__el(data-aos="zoom-out" data-aos-delay="600" data-aos-duration="1000")
			.special__el-head
				+icon("analytics","icon")
				.special__el-title Платформа для автоматизации бизнес-процессов любой сложности
			.special__el-content
				.mark-list__el полнофункциональный дизайнер workflow с поддержкой нотации BPMN, который позволяет одинаково легко автоматизировать сложно-структурированные и гибкие неструктурированные процессы;

				.mark-list__el мощный движок их исполнения позволяет одновременно выполнять миллионы операций;

				.mark-list__el наглядные инструменты для анализа, поиска узких мест и оптимизации процессов.
		.special
			.special__el(data-aos="zoom-out" data-aos-delay="1200" data-aos-duration="1000")
				.special__el-head
					+icon("business","icon")
					.special__el-title Готовые к использованию шаблоны и расширения
				.special__el-content.text
					p На онлайн-площадке Creatio Marketplace собраны сотни готовых решений с необходимой бизнес-логикой, коннекторов, расширений и шаблонов для Creatio.
					p Вместо настройки и разработки приложения «с нуля», с помощью Marketplace можно сразу получить готовый результат, ускорив в разы адаптацию и внедрение системы.
			.special__el(data-aos="fade-left" data-aos-delay="1600" data-aos-duration="2000")
				.special__el-head
					+icon("chart","icon")
					.special__el-title Пользовательская настройка интеграций
				.special__el-content.text
					p Благодаря инструментам для работы с веб-сервисами пользователь может в считанные минуты настроить параметры сервиса и сценарий получения и передачи данных в другую систему.
					p Настройка не требует написания кода и доступна пользователям без навыков программирования.



.section.section--mark#advant(style="background-image:url('img/item-1.jpg')")
	.main-cont
		.section-title.section-title--img(data-aos="fade-in" data-aos-delay="300" data-aos-duration="2000") 10 Причин выбрать
			img(src="img/logo-itsm.svg", alt="")
		ul.why(data-aos="fade-in" data-aos-delay="600" data-aos-duration="2000")
			li.mark-list__el Повышение качества обслуживания.
			li.mark-list__el Повышение производительности.
			li.mark-list__el Обеспечение непрерывности и эффективности бизнеса.
			li.mark-list__el Получение полного представления о любом процессе или услуге.
			li.mark-list__el Оптимизация затрат.
			li.mark-list__el Легкая миграция.
			li.mark-list__el Предоставление оперативной информации в режиме реального времени.
			li.mark-list__el Гибкая масштабируемость системы на любой стадии внедрения.
			li.mark-list__el Гибкие интеграционные возможности.
			li.mark-list__el Индивидуальная настройка системы под бизнес-задачи заказчика с помощью мастеров настройки функциональных блоков.
		.why-text.text
			p
				+icon("checked","icon")
				span Внедрение решения позволит улучшить скорость, гибкость и эффективность работы для решения бизнес-задач в области управления ИТ-услугами, автоматизации, операций и мэйнфреймов.

			p
				+icon("checked","icon")
				span Решение ITSM Box Creatio, разработанное компанией IT Expert, предназначено для автоматизации процессов, связанных с оказанием ИТ-услуг, анализа этих процессов, контроля качества услуг и удовлетворенности клиентов.


.section.shape-wrap#cost
	.shape.shape-2
		img(src="img/shape-1.svg", alt="")
	.shape.shape-3
		img(src="img/shape-1.svg", alt="")
	.main-cont
		.section-title(data-aos="fade-in" data-aos-delay="300" data-aos-duration="2000") Стоимость лицензии
		.payment
			.payment__el(data-aos="zoom-out" data-aos-delay="600" data-aos-duration="1000")
				//.payment__title ITSM Box Creatio
				.payment__descr cloud / on-site subscription
				.payment__cost 1 152 $
				.payment__cost-text пользователь / год
				//a(href="#order" rel='m_PageScroll2id').payment__get.btn--md.btn--empty Заполнить заявку
			//.payment__el(data-aos="zoom-out" data-aos-delay="1200" data-aos-duration="1000")
				//.payment__title ITSM Box Creatio
				.payment__descr add-on one-time payment
				.payment__cost 345 609 $
				.payment__cost-text единоразово / год
				//a(href="#order" rel='m_PageScroll2id').payment__get.btn--md.btn--mark Заполнить заявку
			.payment__el.payment__el--gray(data-aos="zoom-out" data-aos-delay="1800" data-aos-duration="1000")
				//.payment__title Условия поддержки
				.payment__cost-text Техническая поддержка доступна в будние дни
				.payment__cost-text с 9:00 до 18:00 <br> (GMT +03:00)
				.payment__cost-text В стоимость входит 5 часов поддержки
				//a(href="#order" rel='m_PageScroll2id').payment__get.btn--md.btn--empty Заполнить заявку




.section.section--extend.section--clear-mobile.section--dark#about
	.about-wrap
		.about-img(data-aos="fade-down-right" data-aos-delay="300" data-aos-duration="1500")
			img(src="img/list-4.png", alt="")
		.main-cont
			.about(data-aos="fade-in" data-aos-delay="900" data-aos-duration="2000")
				.about-info
					.about-title Опыт IT Expert
					.about-list
						.mark-list__el  Компания основана в 2002 году и до настоящего времени является лидером на рынке консалтинговых и тренинговых услуг в области управления бизнес-процессами
						.mark-list__el  За 15 лет компания выполнила более 350	консалтинговых и аудиторских ИТ-проектов
						.mark-list__el  IT Expert имеет уникальный опыт участия в программах совершенствования управления информационными и смежными технологиями в крупных российских организациях
						.mark-list__el  IT Expert в проектах решает различные задачи и выполняет ключевые роли: управляет ходом программ, осуществляет независимый и авторский надзор, предоставляет ключевую экспертизу, обеспечивает направляющий консалтинг
						img(src="img/logo-powered.svg", alt="")

.section.section--order#order
	.main-cont
		.order
			.order__info(data-aos="fade-in" data-aos-delay="600" data-aos-duration="2000")
				.order-title Свяжитесь с нами
				.order-text Если у вас остались вопросы по лицензии, внедрению или вы хотите заказать демонстрацию системы.
			.order__form
				.shape-order(data-aos="fade-in" data-aos-delay="900" data-aos-duration="2000")
					img(src="img/shape-3.svg", alt="")
				form(action="javascript:void(null);" data-aos="zoom-out" data-aos-delay="1200" data-aos-duration="1000").order-form-el.validate-form.form
					.title.title--lg Форма заявки
					.input-cont
						.input-row
							.input-row__title Ваше имя
							input(type="text" placeholder="Ф.И.О." class="input" name="name")
					.input-cont
						.input-row
							.input-row__title Ваш телефон
							input(type="text" placeholder="Введите Ваш телефон" class="input" name="phone")
					input-cont
						.input-row
							.input-row__title Ваша почта
							input(type="text" placeholder="Введите Вашу почту" class="input" name="mail")
					.input-cont
						.input-row
							.input-row__title Ваше сообщение
							textarea(name="text", cols="30", rows="5" class="input" placeholder="Сообщение")
					//checkbox remember
					.login-remember
						.check-el
							label.style-label.style-label--checkbox
								input(type="checkbox" name="agree").style-input
								.style-input-element
									+icon("checked","icon")
								.style-input-text Я даю согласие на обработку моих персональных данных
					input(type="submit" value="Отправить" class="btn--md btn--mark btn--mobile")

.footer-wrap
	.main-cont
		.footer
			.footer-title(data-aos="flip-up" data-aos-delay="900" data-aos-duration="1000")
				img(src="img/logo-itsm.svg", alt="")
			.footer-text Автоматизируйте процессы, <br> связанные с оказанием ИТ-услуг
			a(href="tel:+7 (495) 981-57-10").footer-phone +7 (495) 981-57-10
			a(href="mailto:info@itexpert.ru").footer-mail info@itexpert.ru
			.soc-row
				a(href="https://www.facebook.com/itexpert.ru?fref=ts").soc-row__el
					+icon("soc-facebook","icon")
				a(href="https://www.instagram.com/itexpert.ru/").soc-row__el
					+icon("soc-instagram","icon")
				a(href="https://www.youtube.com/ITEXPERTRU/").soc-row__el
					+icon("soc-youtube","icon")
			a(href="https://www.itexpert.ru/").footer-logo www.itexpert.ru

.modal-layer
	.modal-filter
	.modal-wrap
		//success message
		.modal(data-modal="trueMsg")
			.modal-content.modal-content--true
				.modal-close
					+icon("close-fat","icon")
				img(src="img/email.svg", alt="")
				.modal-title Спасибо за заявку
				.modal-text-true Ваше сообщение отправленно, мы скоро свяжемся с Вами.
.
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		 (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		 m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		 (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		 ym(68494699, "init", {
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true,
					webvisor:true
		 });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/68494699" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->



include ./block_html/_script.pug
